<a href="https://colab.research.google.com/github/apfiadiansetianingrum/Praktikum-Struktur-Data/blob/main/2410506004_Strukdat_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
angka = [10, 20, 30, 40, 50]
print("array dengan list:", angka)

array dengan list: [10, 20, 30, 40, 50]

In [ ]:
import array
angka = array.array('i', [10, 20, 30, 40, 50])
print("array dengan modul array:", angka)

array dengan modul array: array('i', [10, 20, 30, 40, 50])

In [ ]:
import numpy as np
angka = np.array([10,20,30,40,50])
print("array dengan numpy:", angka)

array dengan numpy: [10 20 30 40 50]

In [ ]:
import numpy as np
angka = np.array([10,20,30,40,50])
print("array satu dimensi:", angka)

array satu dimensi: [10 20 30 40 50]

In [ ]:
matriks = np.array([[1, 2], [3,4], [5,6]])
print("array dua dimensi:", matriks)

array dua dimensi: [[1 2]
 [3 4]
 [5 6]]

In [ ]:
array3d = np.array([[[1,2], [3,4]], [[5, 6], [7, 8]]])
print("array tiga dimensi:", array3d)

array tiga dimensi: [[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [ ]:
angka = [10,20,30,40,50]
print("elemen pertama:", angka[0])
print("elemen terakhir:", angka[-1])

angka.append(60)
print("setelah append:", angka)

angka.remove(30)
print("setelah remove:", angka)

for nilai in angka:
  print("nilai:", nilai)

elemen pertama: 10
elemen terakhir: 50
setelah append: [10, 20, 30, 40, 50, 60]
setelah remove: [10, 20, 40, 50, 60]
nilai: 10
nilai: 20
nilai: 40
nilai: 50
nilai: 60

In [4]:
#LANGKAH PRAKTIKUM

#lat 1
datanpm = [2410506004, 2410506005, 2410506006, 2410506007, 2410506008]
print("Data NPM:", datanpm)

Data NPM: [2410506004, 2410506005, 2410506006, 2410506007, 2410506008]

In [ ]:
angka = [10,20,30,40,50]
print("elemen pertama:", angka[0])
print("elemen terakhir:", angka[-1])

angka.append(60)
print("setelah append:", angka)

angka.insert(2, 25)
print("setelah insert:", angka)

angka.remove(25)
print("setelah remove:", angka)

angka.pop(2)
print("setelah pop:", angka)

angka[0] = 100
print("setelah mengubah elemen pertama:", angka)

elemen pertama: 10
elemen terakhir: 50
setelah append: [10, 20, 30, 40, 50, 60]
setelah insert: [10, 20, 25, 30, 40, 50, 60]
setelah remove: [10, 20, 30, 40, 50, 60]
setelah pop: [10, 20, 40, 50, 60]
setelah mengubah elemen pertama: [100, 20, 40, 50, 60]
nilai: 100
nilai: 20
nilai: 40
nilai: 50
nilai: 60

In [ ]:
#lat2

angka = [10,20,30,40,50]

angka.append(4)
print("Array setelah ditambah 2 digit npm:", angka)

angka.pop(0)
print("array setelah dihapus elemen pertama:", angka)

Array setelah ditambah 2 digit npm: [10, 20, 30, 40, 50, 4]
array setelah dihapus elemen pertama: [20, 30, 40, 50, 4]

In [ ]:
angka = [10,20,30,40,50]

for nilai in angka:
  print("nilai:", nilai)

nilai: 10
nilai: 20
nilai: 30
nilai: 40
nilai: 50

In [ ]:
#lat3
fakultas = ["Teknik", "Ekonomi", "FAPERTA", "FISIPOL", "FKIP"]

for nama in fakultas:
  print("Fakultas di Untidar:", nama)

Fakultas di Untidar: Teknik
Fakultas di Untidar: Ekonomi
Fakultas di Untidar: FAPERTA
Fakultas di Untidar: FISIPOL
Fakultas di Untidar: FKIP

In [ ]:
angka = [10,20,30,40,50]

print("jumlah total:", sum(angka))
print("nilai max:", max(angka))
print("nilai min:", min(angka))

jumlah total: 150
nilai max: 50
nilai min: 10

In [ ]:
#lat4

hargabarang = [4000, 1000, 2000, 7000, 5000]

print("jumlah total:", sum(hargabarang))
print("nilai max:", max(hargabarang))
print("nilai min:", min(hargabarang))

jumlah total: 19000
nilai max: 7000
nilai min: 1000

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("isi array 2d:")
for baris in matriks:
  print(baris)

isi array 2d:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
#lat5

matriks = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print("isi array 2d:")
for baris in matriks:
  print(baris)

isi array 2d:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("elemen pada baris 1, kolom 2:", matriks[0][1])
print("elemen terakhir:", matriks[-1][-1])

elemen pada baris 1, kolom 2: 2
elemen terakhir: 9

In [ ]:
#lat6

matriks = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print("elemen pada baris 2, kolom 4:", matriks[1][3])

elemen pada baris 2, kolom 4: 8

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matriks.append([10, 11, 12])
print("setelah append:", matriks)

matriks[1].append(99)
print("setelah append2:", matriks)

setelah append: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
setelah append2: [[1, 2, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12]]

In [ ]:
#lat7

matriks = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

matriks.append([22, 5, 20, 6])
print("array setelah append:", matriks)

array setelah append: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [22, 5, 20, 6]]

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matriks[0].remove(2)
print("setelah remove:", matriks)

matriks[1].pop(1)
print("setelah pop:", matriks)

setelah remove: [[1, 3], [4, 5, 6], [7, 8, 9]]
setelah pop: [[1, 3], [4, 6], [7, 8, 9]]

In [ ]:
#lat8

matriks = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [22, 5, 20, 6]
]

matriks[3].pop(3)
print("setelah pop:", matriks)

setelah pop: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [22, 5, 20]]

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matriks[2][1] = 88
print("setelah mengubah elemen:", matriks)

setelah mengubah elemen: [[1, 2, 3], [4, 5, 6], [7, 88, 9]]

In [ ]:
#lat9

matriks = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [22, 5, 20, 6]
]

matriks[-1][-1] = 14
print("setelah mengubah elemen:", matriks)

setelah mengubah elemen: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [22, 5, 20, 14]]

In [ ]:
#lat10

belanja = ["bedak", "liptint", "kutek", "soflen", "blushon"]
print("elemen pertama:", belanja[0])
print("elemen terakhir:", belanja[-1])

belanja.append("pensilalis")
print("setelah append:", belanja)

belanja.insert(2, "serum")
print("setelah insert:", belanja)

belanja.remove("bedak")
print("setelah remove:", belanja)

belanja.pop(2)
print("setelah pop:", belanja)

belanja[2] = "moist"
print("setelah mengubah:", belanja)

elemen pertama: bedak
elemen terakhir: blushon
setelah append: ['bedak', 'liptint', 'kutek', 'soflen', 'blushon', 'pensilalis']
setelah insert: ['bedak', 'liptint', 'serum', 'kutek', 'soflen', 'blushon', 'pensilalis']
setelah remove: ['liptint', 'serum', 'kutek', 'soflen', 'blushon', 'pensilalis']
setelah pop: ['liptint', 'serum', 'soflen', 'blushon', 'pensilalis']
setelah mengubah elemen pertama: ['liptint', 'serum', 'moist', 'blushon', 'pensilalis']